.container
{
	margin: 0 auto;
	width: 945px;
	height: 600px;
	background-size: contain;
}
.tiket
{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 2px;
	position: relative;
	top: 330px;
	left: 80px;
}